@import url(../../main.css);

.container-about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000;
}

.title-about{
    font-size: 50px;
    color: var(--mainColor);
    padding: 2rem;
}

/* PICTURE ME */
.parallax {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../../img/me.jpg);
    background-attachment: fixed;
    background-size: auto;
    -moz-background-size: auto;
    -webkit-background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.gradient-text {
    background-image: linear-gradient(to right, #FFF, #000);
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    
}

/* CONTAINER ABOUT */
.about{
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

.about:nth-of-type(1){
    color: var(--mainColor);
    font-size: 20px;
    font-weight: 100;
    line-height: 1.9;
    letter-spacing: 0.4px;
}


/* SKILLS */
.container-my-skils{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column: span 3;
    grid-gap: 2rem;
    padding: 2rem;
}

.card-skil{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100px;
    border-radius: 1rem;
    background-color: red;
}