@import url(../../main.css);

.container-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background-color: var(--mainColor);
    padding: 0 0 20rem 0;
}

.title-about {
    font-size: 120px;
    color: var(--textColor);
}

/* PICTURE ME */
.parallax {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../../img/me.jpg);
    background-attachment: fixed;
    background-size: auto;
    -moz-background-size: auto;
    -webkit-background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}


/* CONTAINER ABOUT */
.about:nth-of-type(1) {
    color: var(--textColor);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.9;
    letter-spacing: 0.4px;
}

/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .container-about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
    }

    .parallax {
        height: 400px;
    }

    .title-about {
        font-size: 50px;
        text-align: center;
    }

    .about:nth-of-type(1) {
        text-align: center;
    }
}

/* (480x800) Android */
@media only screen and (min-width: 480px) and (max-width: 800px) {
    .container-about {
        grid-template-columns: none;
        grid-gap: 0;
        padding: 0;
    }

    .parallax {
        height: 400px;
        background-position: center;
    }

    .about:nth-of-type(1) {
        text-align: center;
    }
}

/* (640x960) iPhone 4 & 4S */
@media only screen and (min-width: 640px) and (max-width: 960px) {

    .container-about {
        grid-template-columns: none;
        grid-gap: 0;
        padding: 0;
    }

    .parallax {
        height: 400px;
        background-position: center;
    }

    .about:nth-of-type(1) {
        text-align: center;
    }
}

/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-width: 720px) and (max-width: 1280px) {
    .container-about {
        grid-template-columns: none;
        grid-gap: 0;
        padding: 0;
    }

    .parallax {
        height: 400px;
        background-position: center;
    }

    .about:nth-of-type(1) {
        text-align: center;
    }
}


/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container-about {
        grid-template-columns: none;
        grid-gap: 0;
        padding: 0;
    }

    .parallax {
        height: 400px;
    }

    .about:nth-of-type(1) {
        text-align: center;
    }
}

/* (2048x1536) iPad 3 */
@media only screen and (min-width: 1536px) and (max-width: 2048px) {
    /* insert styles here */
}

/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-width: 720px) and (max-width: 1280px) {
    /* insert styles here */
}

/* (1280x1024) SXGA Display */
@media screen and (min-width: 1280px) {}

/* (1366x768) WXGA Display */
@media screen and (min-width: 1366px) {}

/* (1440x900) WXGA+ Display */
@media screen and (min-width: 1440px) {}

/* (1680x1050) WSXGA+ Display */
@media screen and (min-width: 1680px) {}

/* (1920x1080) Full HD Display */
@media screen and (min-width: 1920px) {}