@import url(../../main.css);

.footer {
    background-color: var(--textColor);
    height: 95vh;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    height: 50vh;
}

.footer-back-to-home {
    font-size: var(--text-xl-font-size);
}

.footer-name {
    font-size: 12vw;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
}

.container-footer .icon{
    font-size: var(--text-3xl-font-size);
    line-height: var(--text-3xl-line-height);
    cursor: pointer;
    color: var(--mainColor);
}

.container-footer .icon{
    
}