@import url(../../main.css);

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p{
    color: var(--textColor);
}

.copyright{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.beta {
    color: #3fb950;
    border: 1px solid #3fb950;
    border-radius: 9999px;
    padding: 5px;
    font-size: 10px;
  }

.container-footer {
    background-color: var(--mainColor);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
    height: 300px;
    align-items: center;
}

.container-footer .icon {
    font-size: var(--text-3xl-font-size);
    line-height: var(--text-3xl-line-height);
    cursor: pointer;
    color: var(--textColor);
}

/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
}

/* (480x800) Android */
@media only screen and (min-width: 480px) and (max-width: 800px) {
}

/* (640x960) iPhone 4 & 4S */
@media only screen and (min-width: 640px) and (max-width: 960px) {
}

/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-width: 720px) and (max-width: 1280px) {
}


/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* (2048x1536) iPad 3 */
@media only screen and (min-width: 1536px) and (max-width: 2048px) {
    /* insert styles here */
}

/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-width: 720px) and (max-width: 1280px) {
}

/* (1280x1024) SXGA Display */
@media screen and (min-width: 1280px) {
}

/* (1366x768) WXGA Display */
@media screen and (min-width: 1366px) {}

/* (1440x900) WXGA+ Display */
@media screen and (min-width: 1440px) {}

/* (1680x1050) WSXGA+ Display */
@media screen and (min-width: 1680px) {}

/* (1920x1080) Full HD Display */
@media screen and (min-width: 1920px) {}