@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    /* --background: #F5F4F3; */
    --background: #242424;
    /* --mainColor: #F5F4F3; */
    --mainColor: #242424;
    --secondaryColor: #8d8d8d;
    --textColor: #F5F4F3;
    /* --textColor: #242424; */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}